<div class='progress-wrapper'>
  <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
</div>
<div id="progress-bar-message">Waiting for progress to start...</div>





<script type="text/javascript">
var progressUrl = "{% url 'celery_progress:task_status' task_id %}";

$(function () {
  CeleryProgressBar.initProgressBar(progressUrl)
});
</script>